body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Add any other styles you need for the body */
}
